<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msg.spapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.msg.bicla.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="spapp.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="Entities" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServicesActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".BookingActivity"
            android:label="@string/title_activity_booking" >
        </activity>
        <activity
            android:name=".TrainerActivity"
            android:label="@string/title_activity_trainer" >
        </activity>
        <activity
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary" >
        </activity>
        <activity
            android:name=".RatingActivity"
            android:label="@string/title_activity_rating" >
        </activity>
        <activity
            android:name=".PersonalInfoActivity"
            android:label="@string/title_activity_first_register" >
        </activity>
        <activity
            android:name=".DetailServiceActivity"
            android:label="@string/title_activity_detail_service" >
        </activity>
        <activity
            android:name=".OurPersonalActivity"
            android:label="@string/title_activity_our_personal" >
        </activity>
        <activity
            android:name=".ServiceCategoriesActivity"
            android:label="@string/title_activity_service_categories" >
        </activity>
        <activity
            android:name=".DetailCategoryActivity"
            android:label="@string/title_activity_detail_category" >
        </activity>
    </application>

</manifest>
